In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-23 00:39:53--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv’

laptops.csv         100%[===================>] 291.58K  --.-KB/s    in 0.03s

2024-09-23 00:39:53 (10.4 MB/s) - ‘laptops.csv’ saved [298573/298573]

In [3]:
import pandas  as pd

In [6]:
df=pd.read_csv("/content/laptops.csv")

In [10]:
# How many records are in the dataset?
df.shape[0]

2160

In [12]:
df.shape

(2160, 12)

In [14]:
#哪些列有missing value呢
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [31]:
# how many laptop brand?
df["Laptop"].unique().shape

(2160,)

In [46]:
 # What's the maximum final price of Dell notebooks in the dataset?
 df[df["Brand"]=="Dell"]["Final Price"].max()

3936.0

In [39]:
# Median value of Screen
df["Screen"].median()

15.6

In [55]:
# calculate the most frequent value of the same Screen column
df["Screen"].value_counts().max()

1009

In [ ]:
# Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
df["Screen"].fillna(df["Screen"].value_counts().max(),inplace=True)

In [59]:
# calculate the median value of Screen once again.
df["Screen"].median()

15.6

In [61]:
# Select all the "Innjoo" laptops from the dataset
df[df["Brand"]=="Innjoo"]

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [62]:
#Select only columns RAM, Storage, Screen
df[df["Brand"]=="Innjoo"][["RAM","Storage","Screen"]]

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [63]:
# Get the underlying NumPy array. Let's call it X.
X=df[df["Brand"]=="Innjoo"][["RAM","Storage","Screen"]].values

In [64]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [65]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX
XTX=X.T.dot(X)

In [66]:
XTX=X.T.dot(X)

In [67]:
#Compute the inverse of XTX
import numpy as np
XTX_inv=np.linalg.inv(XTX)

In [68]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
y=np.array([1100, 1300, 800, 900, 1000, 1100])

In [69]:
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w=XTX_inv.dot(X.T).dot(y)

In [70]:
#What's the sum of all the elements of the result?
w.sum()

91.2998806299555